<ul class="header-inner">
  <li class="hidden-xs dropdown pull-right">
    <a href="" data-toggle="dropdown">
      <i class="zmdi zmdi-apps"></i>
    </a>

    <div class="dropdown-menu pull-right" id="launch-apps">
      <div class="dropdown-header bg-teal">APPS</div>

      <div class="la-body">
        <div class="lab-item">
          <a href="" class="bg-red">
            <i class="zmdi zmdi-calendar"></i>
          </a>
          <small>Calendar</small>
        </div>

        <div class="lab-item">
          <a href="" class="bg-green">
            <i class="zmdi zmdi-file-text"></i>
          </a>
          <small>Files</small>
        </div>

        <div class="lab-item">
          <a href="" class="bg-blue">
            <i class="zmdi zmdi-email"></i>
          </a>
          <small>Mail</small>
        </div>

        <div class="lab-item">
          <a href="" class="bg-orange">
            <i class="zmdi zmdi-trending-up"></i>
          </a>
          <small>Analytics</small>
        </div>

        <div class="lab-item">
          <a href="" class="bg-cyan">
            <i class="zmdi zmdi-view-headline"></i>
          </a>
          <small>News</small>
        </div>

        <div class="lab-item">
          <a href="" class="bg-teal">
            <i class="zmdi zmdi-image"></i>
          </a>
          <small>Gallery</small>
        </div>
      </div>
    </div>
  </li>
</ul>
