*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
dist
.tmp
.sass-cache
bower_components

client/app/shared/services/saturnServices.js
client/assets/css/default/style.css

.rebooted

server/datasources.development.json
server/data/export/*
server/data/import/*
