<aside id="sidebar">
  <ul class="side-menu">
    <!-- <li class="sm-sub sms-profile">
      <a class="clearfix" href="">
        <img src="img/profile-pic.jpg" alt="">
        <span class="f-11">
          <span class="d-block">Profile</span>
          <small class="text-lowercase"></small>
        </span>
      </a>
      <ul>
        <li><a ui-sref="">View Profile</a></li>
        <li><a ui-sref="">Settings</a></li>
        <li><a ui-sref="logout">Logout</a></li>
      </ul>
    </li> -->
    <li class="active">
      <a ui-sref="dashboard">
        <i class="zmdi zmdi-view-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sm-sub">
      <a href="">
        <i class="zmdi zmdi-accounts-alt"></i>
        <span>Contacts</span>
      </a>
      <ul>
        <li><a ui-sref="contacts.list">List</a></li>
        <li><a ui-sref="contacts.import">Import</a></li>
      </ul>
    </li>
    <li class="sm-sub">
      <a href="">
        <i class="zmdi zmdi-email"></i>
        <span>Mailchimp integrator</span>
      </a>
      <ul>
        <li><a ui-sref="mailchimp.panel">Panel</a></li>
        <li><a ui-sref="mailchimp.campaigns">Campaigns management</a></li>
        <li><a ui-sref="mailchimp.subscribers">Subscribers management</a></li>
        <li><a ui-sref="mailchimp.reports">Reports</a></li>
      </ul>
    </li>
    <li class="sm-sub">
      <a href="">
        <i class="zmdi zmdi-archive"></i>
        <span>Archive</span>
      </a>
      <ul>
        <li><a ui-sref="archive.search">Search</a></li>
        <li><a ui-sref="archive.panel">Panel</a></li>
      </ul>
    </li>
    <li class="sm-sub">
      <a href="">
        <i class="zmdi zmdi-account"></i>
        <span>Profile</span>
      </a>
      <ul>
        <li><a ui-sref="profile.view">View Profile</a></li>
        <li><a ui-sref="profile.settings">Settings</a></li>
        <li><a ui-sref="logout">Logout</a></li>
      </ul>
    </li>
  </ul>
</aside>
