<aside id="sidebar">
  <ul class="side-menu">
    <li class="active">
      <a ui-sref="app.dashboard">
        <i class="zmdi zmdi-view-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sm-sub">
      <a href="">
        <i class="zmdi zmdi-accounts-alt"></i>
        <span>Contacts</span>
      </a>
      <ul>
        <li><a ui-sref="app.contacts.panel">List</a></li>
        <li><a ui-sref="app.contacts.import">Import</a></li>
      </ul>
    </li>
    <li class="sm-sub">
      <a href="">
        <i class="zmdi zmdi-email"></i>
        <span>Mailchimp integrator</span>
      </a>
      <ul>
        <li><a ui-sref="app.mailchimp.panel">Panel</a></li>
        <li><a ui-sref="app.mailchimp.campaigns">Campaigns management</a></li>
        <li><a ui-sref="app.mailchimp.subscribers">Subscribers management</a></li>
        <li><a ui-sref="app.mailchimp.reports">Reports</a></li>
      </ul>
    </li>
    <li class="sm-sub">
      <a href="">
        <i class="zmdi zmdi-archive"></i>
        <span>Archive</span>
      </a>
      <ul>
        <li><a ui-sref="app.archive.search">Search</a></li>
        <li><a ui-sref="app.archive.panel">Panel</a></li>
      </ul>
    </li>
    <li class="sm-sub">
      <a href="">
        <i class="zmdi zmdi-account"></i>
        <span>Profile</span>
      </a>
      <ul>
        <li><a ui-sref="app.profile.view">View Profile</a></li>
        <li><a ui-sref="app.profile.settings">Settings</a></li>
        <li><a ui-sref="app.logout">Logout</a></li>
      </ul>
    </li>
    <li>
      <a ui-sref="app.dashboard">
        <i class="zmdi zmdi-input-power"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</aside>
