<breadcumb></breadcumb>
<section id="content">
  <div class="container">

    <div class="row">
      <div class="col-sm-5">

        <div class="tile">
          <div class="t-header th-alt bg-blue">
            <div class="th-title">Search filters</div>
          </div>
          <div class="t-body tb-padding">

            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
              <input ng-model="filters.name" type="text" class="form-control" placeholder="Name">
            </div>
            <br />
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
              <input ng-model="filters.surname" type="text" class="form-control" placeholder="Surname">
            </div>
            <br />
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
              <input ng-model="filters.email" type="text" class="form-control" placeholder="E-Mail">
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-5">
        <div class="tile">
          <div class="t-header th-alt bg-blue">
            <div class="th-title">Extra filters</div>
          </div>
          <div class="t-body tb-padding">
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-star"></i></span>
              <select ng-model="filters.categoryId" class="form-control">
                <option value="">Category</option>
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">

        <div class="tile">
          <div class="t-header th-alt bg-blue">
            <div class="th-title">Actions</div>
          </div>
          <div class="t-body tb-padding">
            <button type="button" ng-click="search()" class="btn btn-success"><i class="zmdi zmdi-search"></i>&nbsp;Search</button>
            <!-- <button type="button" class="btn btn-success"><i class="zmdi zmdi-search"></i>&nbsp;Search</button> -->
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="tile">

          <div class="table-responsive table-hover m-t-20">
            <table class="table">
              <thead class="bg-blue">
                <tr>
                  <th>No.</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>E-Mail</th>
                  <th>Phone</th>
                  <th>Website</th>
                  <th>Category</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="contact in list">
                  <td>{{$index}}</td>
                  <td>{{contact.name}} </td>
                  <td>{{contact.surname}} </td>
                  <td>{{contact.eMail}} </td>
                  <td>{{contact.phone}} </td>
                  <td>{{contact.website}} </td>
                  <td>{{contact.category.name}} </td>
                  <td>
                    <button ng-click="call(contact.phone)" tooltip-placement="top" uib-tooltip="Soon" tooltip-trigger="focus" type="button" class="btn btn-success"><i class="zmdi zmdi-phone"></i></button>
                    <button ng-click="sendMail(contact.eMail)" tooltip-placement="top" uib-tooltip="Soon" tooltip-trigger="focus" type="button" class="btn btn-primary"><i class="zmdi zmdi-mail-send"></i></button>
                    <button type="button" class="btn btn-warning"><i class="zmdi zmdi-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>

  </div>
</section>
