<ul class="header-inner">
  <li class="dropdown">
    <a href="" data-toggle="dropdown" class="hi-messages">
      <i class="zmdi zmdi-email"></i>
      <i class="hi-count">1</i>
    </a>

    <div class="dropdown-menu hi-dropdown">
      <div class="dropdown-header bg-green m-b-15">
        MESSAGES

        <!-- <ul class="actions a-alt">
          <li><a href=""><i class="zmdi zmdi-plus"></i></a></li>
        </ul> -->
      </div>

      <div class="list-group lg-alt">
        <a class="list-group-item media" href="">
          <!-- <div class="pull-left">
            <img class="img-avatar" src="img/profile-pics/1.jpg" alt="" width="40" height="40">
          </div> -->
          <div class="media-body">
            <div class="list-group-item-heading">Carmelo La Gamba <small> when world started</small></div>
            <small class="list-group-item-text c-gray">Ben arrivato! Finalmente Saturn</small>
          </div>
        </a>
        <a class="view-more" href="">View more</a>
      </div>
    </div>
  </li>
</ul>
