<header id="header" class="clearfix" data-spy="affix" data-offset-top="65">
  <ul class="header-inner">

    <!-- Logo -->
    <li class="logo">
      <!-- <a href=""><img src="img/logo.png" alt=""></a> -->
      <div id="menu-trigger"><i class="zmdi zmdi-menu"></i></div>
    </li>

    <!-- Messages -->
    <messages></messages>

    <!-- Notifications -->
    <notifications></notifications>

    <!-- Events -->
    <calendar-lite></calendar-lite>

    <!-- Search -->
    <li class="top-search">
      <input class="ts-input" placeholder="Search..." type="text">

      <i class="ts-reset zmdi zmdi-close"></i>
    </li>

    <!-- Quick Apps -->
    <apps></apps>

  </ul>
</header>
